html {
    color: #1a1a1a;
    background-color: #fdfdfd;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    background-color: lightblue;

    margin: 0 auto;
    max-width: 36em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

time {
    font-family: 'JetBrains Mono', monospace;
    font-size: smaller;
    color: grey;
    line-height: 3.5;
}

a {
    background-color: bisque;
}

cap {
    font-family: 'JetBrains Mono', monospace;
    font-size: smaller;
    color: grey;
}

article {
  margin: 0;
  padding: 0.3rem;
  background-color: #eee;
}

input {
    width: 96.5%;
    font-size: 16px;
    padding: 6px 6px 6px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px
}

body {
    font-family: 'JetBrains Mono', monospace;

    line-height: 1.45;
    margin: 0 auto;
    max-width: 36em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.responsive {
    width: 100%;
    height: auto;
}
